body {
    background-color: black;
}

.text {
    color: white;

    font-family: 'Courier New', Courier, monospace;

    font-weight: bold;
}

.centered-text {
    color: white;

    font-family: 'Courier New', Courier, monospace;

    font-size: large;
    font-weight: bold;

    text-align: center;
}

.media-button {
    background-color: white;

    border-radius: 5px solid;

    font-family: 'Courier New', Courier, monospace;

    font-size: large;
    font-weight: bold;
}

.centered {
    text-align: center;
}
